.form-card {
  box-shadow: 4px 6px 10px 0px rgba(135, 135, 135, 1);
  transition: all 0.2s ease-out;

  .form {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 15px;

    &-sections {
      display: flex;
      flex-direction: row;
      justify-content: start;
      flex-wrap: wrap;
      width: 100%;
    }

    &-actions {
      button {
        margin: 0 12px;
        &:hover {
          transform: translateY(-1px);
          box-shadow: 4px 6px 10px 0px rgba(135, 135, 135, 1);
        }
      }
    }

    &-group {
      width: 200px;
      padding: 15px;
    }
  }
}
